$mqTerm: "only screen";
$bp-xl: "min-width: 1200px";
$bp-lg: "min-width: 992px";
$bp-md: "min-width: 768px";
$bp-sm: "min-width: 576px";

//*** Colors *** //
$mainColor: #fff;
$secColor: #222222;

//*** Fonts *** //
$mainFont: "Source Sans Pro", sans-serif;

//*** Transition ***//
$easeInOut: all 0.25s ease-in-out;
