//** Styling main
#main {
  display: block;
  width: 100%;
  background-color: $mainColor;
  padding: 1rem;
  //** Styling Home
  #me {
    display: flex;
    display: none;
    flex-wrap: wrap;
    height: 60vh;
    @include md {
      height: 75vh;
    }
    @include lg {
      height: 60vh;
    }
    header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 2.5rem;
      height: 30%;
      background-color: inherit;
      @include lg {
        width: 60%;
        height: 100%;
        justify-content: start;
      }
      .text {
        display: block;
        h1 {
          color: $secColor;
          font-size: 2rem;
          font-weight: 400;
          @include md {
            font-size: 2.5rem;
          }
        }

        p {
          font-size: 1rem;
          font-weight: 200;
          color: grey;
          @include md {
            font-size: 1.5rem;
          }
        }
      }
    }

    .mypic {
      display: block;
      width: 100%;
      height: 70%;
      @include lg {
        width: 40%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  //*** Styling Contact
  #contact {
    display: block;
    padding: 0.5rem 1rem;
    h3 {
      font-size: 2rem;
      color: $secColor;
      margin-bottom: 1rem;
    }
    #form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      input,
      textarea {
        width: 100%;
        border: none;
        font-size: 1rem;
        padding: 0.6rem;
        color: #363636;
        margin-bottom: 1rem;
        background-color: #f4f4f4;
        transition: $easeInOut;
        &:focus {
          background: #f8f8f8;
        }
        @include md {
          padding: 1rem;
          font-size: 1.2rem;
        }
      }
      button {
        padding: 1rem;
        font-size: 1rem;
        color: $mainColor;
        background-color: $secColor;
        width: 100%;
        @include md {
          width: auto;
          padding: 1.5rem;
        }
      }
      input[type="text"]:nth-of-type(1),
      input[type="email"] {
        @include lg {
          width: 49%;
          flex: 0 1 auto;
        }
      }
    }
  }
}
